

.pos{
  position: absolute;
  color:white;
}
.in{
  text-align:center;
  left:20%;
  margin-top: 10%;
  font-size:5vh;
  position: absolute;
    color: white;
    max-width: 100%;
    background: rgba(0, 0, 0, 0.4);
    text-shadow: 0px 0px 2px #131415;
    font-family: 'Open Sans', sans-serif;
}

